<h1>遥風 ポートフォリオ(仮)</h1>

<p>資料一覧</p>
<div>
  <%= link_to '> 令和6年度決算資料', 'https://docs.google.com/presentation/d/1jCGt67M9EB0_QiMhl-sWDHKKqdmj9oS-/edit#slide=id.p10' %>
</div>

<div>
  <%= link_to '> FX トレード履歴', finance_path %>
</div>
